/* --------------- Constants -------------- */
p{
    font-size: 1.5rem;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.8rem;
}
/* --------------- Constants -------------- */
/* --------------- Body Font -------------- */
.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* ---------------- Body Font -------------- */
/* ----------- Button Primary Style--------- */
.btn{
    padding: .6em 1.5em;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Azeret Mono", monospace;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

.btn:hover{
    box-shadow: 2px 2px 0 0 #000;
}
.btn:active{
    box-shadow: none;
}
/* ----------- Button Primary Style--------- */
/* ----------------- Nav Bar --------------- */
.header{
    width: 100%;
    margin: 0 auto;
}
.navBar{
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 10rem;
}

/* ----------------- Nav Bar -------------- */
/* ------------------ Banner -------------- */
.banner{
    background-image: url("../assets/Hero-bg.png");
    padding: 3em 0;
    margin: 1em auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-element{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70vw;
    margin: 0 auto;
}

.banner-element img{
    width: 15em;
}

.banner-element .conact-me{
    background: #000;
    color: #fff;
    margin-top: 1em;
}

.banner-element .conact-me:hover{
    box-shadow: 2px 2px 0 0 #c180e77e;
}

.banner-element .conact-me:active{
    box-shadow: none;
}
/* ------------------ Banner ---------------- */
/* ------------ Why Web Development --------- */
.wwd{
    width: 100%;
    margin: 5em auto;
}

.wwd-element{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: #0d132110;
    border-radius: 1em;
    padding: 6em 4em;
}

.wwd-element  p{
    width: 85%;
}

.wwd-card{
    display: flex;
    width: 80%;
    margin: 4em 4em 2em 2em;
    justify-content: space-between;
    text-align: left;
    align-items: center;
    background: linear-gradient(90deg, #fff, #ffffff00);
    padding: 2em 3.5em;
    border-radius: 1em;
    gap: 5em;
}

.card-2{
    flex-direction: row-reverse;
    background: linear-gradient(270deg, #fff, #ffffff00);
}
/* ------------ Why Web Development --------- */
/* --------------- My Inspiration ----------- */
.myInspiration{
    width: 100%;
    margin: 5em auto;
}

.mi-element{
    width: 70%;
    padding: 6em 4em;
    margin: 0 auto;
    text-align: center;
}

.mi-title{
    margin: 3em;
}

.video{
    border: 1px solid #0000004b;
    padding: 1.5em;
    border-radius: 1em;
}

.youtube{
    width: 100%;
    height: 75vh;
    border-radius: 1em;
}
/* --------------- My Inspiration ----------- */